@import './huro/scss/abstracts/_variables.scss';

.navbar-ios {
  // border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.95); /* Add some opacity */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 14px 28px #cdcdcd, 0 10px 10px #c6c6c6;
  position: fixed; /* Fixed position */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  // margin-bottom: 20px;
  padding: 10px 0;
  height: 50px;
  padding-bottom: 40px;
  padding-top: 25px;
}

.list-item-ios {
  list-style-type: none;
  flex-basis: 33.33%; /* Ensures three items fit evenly */
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center;
  justify-content: center;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 100px;
  font-size: 20px;
}

.list-item-ios:hover {
  color: $primary;
}

.list-item-name-ios {
  font-size: 13px;
  font-weight: 500;
  margin-top: 4px; /* Space between icon and text */
}

@media (max-width: 350px) {
  .navbar-ios {
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    padding-bottom: 20px;
  }

  .list-item-ios {
    flex-basis: auto;
  }
}

/* Link styles to remove default link behavior */
.list-item-ios a {
  text-decoration: none;
  color: inherit; /* inherit color from parent */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item-ios a:visited {
  color: inherit; /* ensure visited links do not change color */
}

.list-item-ios a:hover {
  color: $primary; /* or whatever hover color you prefer */
}
