@import './huro/scss/abstracts/_variables.scss';

.antidote-recorder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Adjust the height as needed */
  margin-top: -7rem;
  
}

.antidote-recorder-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: $primary;
  margin-bottom: 1rem;
  z-index: 1; /* Add this line */
  // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 22px 70px 4px;
  
  

  &.is-recording {
    &:not(.is-paused) {
      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1; /* Adjust the z-index to a negative value */
        background-color: rgba($secondary, 0.2);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }

      &:after {
        animation: smoothPadAfter 0.7s ease-in alternate-reverse infinite;
      }

      &:before {
        animation: smoothPadBefore 0.7s ease-in alternate-reverse infinite;
      }
    }
  }
  &:hover {
    &:not(.is-recording) {
      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background-color: rgba($secondary, 0.2);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: smoothPadHover 0.5s ease-out forwards;
      }
      &:after {
        animation: smoothPadHoverAfter 0.7s ease-out forwards;
      }

      &:before {
        animation: smoothPadHoverBefore 0.7s ease-out forwards;
      }
    }
  }
  &:not(:hover) {
    &:not(.is-recording) {
      &:after,
      &:before {
        animation: none;
      }
    }
  }
}

.antidote-recorder-button img {
  position: relative;
  z-index: 1;
  color: $white;
  height: 15rem;
  width: 15rem;
}

@keyframes smoothPadAfter {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes smoothPadBefore {
  0% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes smoothPadHoverAfter {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes smoothPadHoverBefore {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}



.antidote-controls-container {
  margin-top: -12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.deleted {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $fade-grey;
  color: $danger;
  margin: 0 3rem;
}

.complete {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: $fade-grey;
  color: $success;
  margin: 0 3rem;
}

.pause {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: $primary;
  color: $white;
}


.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.audio-recorder-timer {
  font-size: 2rem;
  font-weight: bold;
  color: $primary;
}

.centered-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
