/* Spinner styles */
.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.75rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s linear infinite;
}

/* Animation for the spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}